* {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  overflow: hidden;
  padding: 15px;
}

nav .nav-left {
  display: flex;
  align-items: center;
  width: 225px;
  height: 52px;
}

nav .nav-left img {
  height: 100%;
  width: 100%;
}

.nav-right ul li {
  display: block;
  color: #fff;
}

nav ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  display: flex;
}

nav li {
  float: left;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 18px;
}

nav li span:hover,
nav li.selected {
  color: #db3b56;
  padding: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
}

.link span:hover,
.servicio2:hover span,
.link.selected span,
.servicio2.selected span {
  color: #db3b56;
}


nav .menu-icon {
  display: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  nav .nav-right {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px 0;
    z-index: 4; /* Agrega esta línea */
  }

  nav .nav-right.show {
    display: flex;
    flex-direction: column; /* Agrega esta línea */
  }

  nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
  }
}
/* Estilo para el botón de reserva */
.btn-reserva {
  background-color: #ff0000; /* Rojo */
  color: white !important; /* Asegura que el texto sea blanco */
  padding: 10px 20px;
  border-radius: 5px; /* Bordes redondeados */
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Animación suave */
  display: inline-block;
}

/* Efecto al pasar el mouse (Hover) */
.btn-reserva:hover {
  background-color: #cc0000; /* Un rojo más oscuro al presionar */
  text-decoration: none;
}

/* Ajuste para el texto dentro si es necesario */
.btn-reserva span {
  color: white;
}